<a href="https://colab.research.google.com/github/shrutikakubal/english2sql/blob/main/english2sql.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
%pip install --quiet "evadb[document]"
import evadb
cursor = evadb.connect().cursor()

In [2]:
import warnings
warnings.filterwarnings("ignore")
import os
os.environ['OPENAI_KEY'] = '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'
open_ai_key = os.environ.get('OPENAI_KEY')
!apt install postgresql
!service postgresql start
!sudo -u postgres psql -c "CREATE USER eva WITH SUPERUSER PASSWORD 'password'"
!sudo -u postgres psql -c "CREATE DATABASE evadb"
params = {
    "user": "eva",
    "password": "password",
    "host": "localhost",
    "port": "5432",
    "database": "evadb",
}
query = f"CREATE DATABASE postgres_data WITH ENGINE = 'postgres', PARAMETERS = {params};"
cursor.query(query).df()

Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
postgresql is already the newest version (14+238).
0 upgraded, 0 newly installed, 0 to remove and 18 not upgraded.
 * Starting PostgreSQL 14 database server
   ...done.
ERROR:  role "eva" already exists
ERROR:  database "evadb" already exists

10-18-2023 02:01:36 ERROR [plan_executor:plan_executor.py:execute_plan:0186] postgres_data already exists.
Traceback (most recent call last):
  File "/usr/local/lib/python3.10/dist-packages/evadb/executor/plan_executor.py", line 182, in execute_plan
    yield from output
  File "/usr/local/lib/python3.10/dist-packages/evadb/executor/create_database_executor.py", line 42, in exec
    raise ExecutorError(f"{self.node.database_name} already exists.")
evadb.executor.executor_utils.ExecutorError: postgres_data already exists.
ERROR:evadb.utils.logging_manager:postgres_data already exists.
Traceback (most recent call last):
  File "/usr/local/lib/python3.10/dist-packages/evadb/executor/plan_executor.py", line 182, in execute_plan
    yield from output
  File "/usr/local/lib/python3.10/dist-packages/evadb/executor/create_database_executor.py", line 42, in exec
    raise ExecutorError(f"{self.node.database_name} already exists.")
evadb.executor.executor_utils.ExecutorError: postgres_data already exists.

ExecutorError: ignored

In [12]:
%pip install --quiet marvin
import marvin
marvin.settings.openai.api_key = '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'
from marvin import ai_classifier
from enum import Enum
import re

In [13]:
cursor.query("""
USE postgres_data {
  DROP TABLE IF EXISTS employees
}
""").df()
cursor.query("""
USE postgres_data {
  DROP TABLE IF EXISTS personal_data
}
""").df()
cursor.query("""
USE postgres_data {
  CREATE TABLE employees (emplid CHAR(10) PRIMARY KEY, company VARCHAR(100), country CHAR(3), hire_date DATE NOT NULL, comprate FLOAT(9), department_id CHAR(10))
}
""").df()
cursor.query("""
USE postgres_data {
  CREATE TABLE personal_data (emplid CHAR(10) PRIMARY KEY, dateofbirth DATE NOT NULL, placeofbirth VARCHAR(100), first_name VARCHAR(50), last_name VARCHAR(50), gender CHAR(1))
}
""").df()
cursor.query("""
USE postgres_data {
 INSERT INTO employees (emplid, company, country, hire_date, comprate, department_id) VALUES ('001', 'Hogwarts INC', 'USA', '2022-01-01', 1000.00, 'HR'),
  ('002', 'Ministry of Magic', 'UK', '2022-02-15', 1500.00, 'IT'), ('003', 'Hogsmeade', 'CAN', '2023-03-10', 1200.00, 'Sales')
}""").df()
cursor.query("""
USE postgres_data {
 INSERT INTO personal_data (emplid, dateofbirth, placeofbirth, first_name, last_name, gender) VALUES ('001', '2000-07-15', 'UK', 'Harry', 'Potter', 'M'),
  ('002', '1990-12-20', 'CAN', 'Ron', 'Weasley', 'M'), ('003', '1995-03-19','UK', 'Hermione', 'Granger', 'F')
}""").df()

    status
0  success

In [14]:
def InitializeSummary():
  cursor.query("""USE postgres_data {DROP TABLE IF EXISTS Summary}""").df()
  cursor.query("""USE postgres_data{CREATE TABLE Summary (table_name VARCHAR(60), table_schema VARCHAR(500))}""").execute()
  tables = cursor.query("""
  USE postgres_data {select table_name from information_schema.TABLES where table_schema='public' and table_name<>'summary'}""").df()
  for i in range(len(tables)):
    table_name=tables.iloc[i,0]
    actual_query = f"select column_name, data_type, character_maximum_length, column_default, is_nullable, is_identity from INFORMATION_SCHEMA.COLUMNS where table_name ='{table_name}' order by ordinal_position"
    query_text = "USE postgres_data{"+actual_query+"}"
    table_data = cursor.query(query_text).df()
    cursor.query(query_text).df()
    csv_list = table_data.to_csv(index=False, header=False, sep=',').strip()
    insert_text = f"INSERT into Summary (table_name, table_schema) values ('{table_name}','{table_name}: {csv_list}')"
    query_text = "USE postgres_data{"+insert_text+"}"
    cursor.query(query_text).df()

In [5]:
InitializeSummary()
cursor.query("""USE postgres_data{select * from Summary}""").df()

      table_name                                       table_schema
0      employees  employees: emplid,character,10.0,,NO,NO\ncompa...
1  personal_data  personal_data: emplid,character,10.0,,NO,NO\nd...

In [27]:
def SelectQuestion(question: str):
  print("===========================================")
  ans = str(input("ðŸª„ Would you like the results from a specific table? (y/n): "))
  flag=False
  table_condition=" "
  if(ans.lower()=="y"):
    table_name = str(input("Table name: "))
    actual_query = f"select 'x' from INFORMATION_SCHEMA.TABLES where table_name = '{table_name}'"
    query_text = "USE postgres_data{"+actual_query+"}"
    if cursor.query(query_text).df().empty:
      print("That table doesn't exist in this database :( but I'll try to find something for you")
      flag=False
    else:
      flag=True
  print("===========================================")
  print("ðŸª„ Finding the answer...")
  if(flag):
    prompt = f"You are given the schema of the table {table_name} in the context in the order (table_name: column_name,data_type,character_maximum_length,column_default,is_nullable, is_identity). Use that to generate an sql statement which answers the question"
    table_condition=f""" where table_name='{table_name}'"""
  else:
    prompt = " You are an expert classifier. In the context, you are given the list of tables with their schemas in the form (table_name: column_name,data_type,character_maximum_length,column_default,is_nullable, is_identity). Use this list to find out which table or combination of tables will most likely contain the data requested by the user and provide the SQL statement to fetch the data."
  prompt=prompt+f" Format the SQL statement as ```sql<statement here>```."
  chatgpt_udf = f"""select ChatGPT('{question}',table_schema,'{prompt}') from postgres_data.summary"""+table_condition
  response=cursor.query(chatgpt_udf).df().to_string(index=False, header=False)
  #response = cursor.query(chatgpt_udf).df().astype(str)
  ExecuteResponse(response)

In [36]:
def InsertQuestion(question: str):
  print("===========================================")
  ans = str(input("ðŸª„ Would you like to insert into a specific table? (y/n): "))
  flag=False
  table_condition=" "
  if(ans.lower()=="y"):
    table_name = str(input("Table name: "))
    actual_query = f"select 'x' from INFORMATION_SCHEMA.TABLES where table_name = '{table_name}'"
    query_text = "USE postgres_data{"+actual_query+"}"
    if cursor.query(query_text).df().empty:
      print("That table doesn't exist in this database :( but I'll try to find something for you")
      flag=False
    else:
      flag=True
  print("===========================================")
  print("ðŸª„ Generating...")
  if(flag):
    prompt = f"The user will provide text that you need to parse into SQL INSERT statements for the table {table_name}. You are given the schema of the table in the context in the order (table_name: column_name,data_type,character_maximum_length,column_default,is_nullable, is_identity). Use the schema to extract, deduce, or infer any parameters and provide the SQL insert statements for the table accordingly."
    table_condition= f""" where table_name='{table_name}'"""
  else:
    prompt = "The user will provide text that you need to parse into SQL INSERT statements. In the context, you are given the list of tables with their schemas in the form (table_name: column_name,data_type,character_maximum_length,column_default,is_nullable, is_identity). Use the provided text and context to extract, deduce, or infer any parameters and provide all the relevant tables to insert the data."
  prompt=prompt+f" Format the SQL statement as ```sql<statement here>```."
  chatgpt_udf = f"""select ChatGPT('{question}',table_schema,'{prompt}') from postgres_data.summary"""+table_condition
  response=cursor.query(chatgpt_udf).df().to_string(index=False, header=False)
  print(response.replace("\\n"," "))
  #ExecuteResponse(response)

In [8]:
def UpdateQuestion(question: str):
  print("===========================================")
  ans = str(input("ðŸª„ Would you like to update a specific table? (y/n): "))
  flag=False
  if(ans.lower()=="y"):
    table_name = str(input("Table name: "))
    actual_query = f"select 'x' from INFORMATION_SCHEMA.TABLES where table_name = '{table_name}'"
    query_text = "USE postgres_data{"+actual_query+"}"
    if cursor.query(query_text).df().empty:
      print("That table doesn't exist in this database :( but I'll try to find something for you")
      flag=False
    else:
      flag=True
  if(flag):
    prompt = f"The user will provide some data to be changed in the table '{table_name}'. You are given the schema of the table in the context in the order (table_name: column_name,data_type,character_maximum_length,column_default,is_nullable, is_identity). Use the schema to extract, deduce, or infer any parameters and provide the SQL update statements for the table accordingly. If the user provides some condition, add it to the SQL statement."
    chatgpt_udf = f"""select ChatGPT('{question}',table_schema,'{prompt}') from postgres_data.summary where table_name='{table_name}'"""
  else:
    prompt = "The user will provide text that you need to parse into SQL UPDATE statements. In the context, you are given the list of tables with their schemas in the form (table_name: column_name,data_type,character_maximum_length,column_default,is_nullable, is_identity). Use the provided text and context to extract, deduce, or infer any parameters and provide all the relevant tables to be updated."
    chatgpt_udf = f"""select ChatGPT('{question}',table_schema,'{prompt}') from postgres_data.summary"""
  print(cursor.query(chatgpt_udf).df().to_string(index=False, header=False, max_rows=1))

 The user will provide text that you need to parse into a
        structured form {{'(note you must also: ' + ctx.get('instructions') + ')' if ctx.get('instructions')}}.
        To validate your response, you must call the
        `{{response_model.__name__}}` function.
        Use the provided text and context to extract, deduce, or infer
        any parameters needed by `{{response_model.__name__}}`, including any missing
        data.

System: You are an expert classifier that always chooses correctly
        {{ '(note, however: ' + ctx.get('instructions') + ')' if ctx.get('instructions') }}

        {{ 'Also note that: ' + enum.__doc__ if enum.__doc__ }}

        The user will provide text to classify, you will use your expertise
        to choose the best option below based on it:

In [37]:
def OriginalQuestion(dummy: str):
  print("===========================================")
  print("ðŸª„ Would you like to ask another question?")
  ans = str(input("y/n: "))
  if(ans.lower()=="y"):
   print("ðŸª„ What would you like to know?")
   question = str(input("Question: "))
  else:
    return "exit"
  return question

In [38]:
def ExecuteResponse(response: str):
  response =response.replace("\\n"," ")
  print(response)
  print("===========================================")
  print("ðŸª„ Would you like me to execute the query?")
  ans = str(input("y/n: "))
  if(ans.lower()=="y"):
    response = response.replace(';','')
    actual_query=re.search(r'```sql(.*?)```',response).group()
    query_text = 'USE postgres_data{'+actual_query[7:len(actual_query)-4]+'}'
    display(cursor.query(query_text).df())

In [39]:
@ai_classifier
class InstructionRouter(Enum):
  """Represents distinct functions called based on the instruction"""
  INSERT = dict(tool=InsertQuestion, description="When the user wants to add new data to a table or when user wants you to generate data for a table")
  SELECT = dict(tool=SelectQuestion, description="When the user wants some information about the stored data")
  UPDATE = dict(tool=UpdateQuestion, description="When the user wants to update existing data")
  QUESTION = dict(tool=OriginalQuestion, description="When the user wants wants more information or wants to ask a different question")

In [40]:
#user interface
flag = True

print("===========================================")
print("ðŸª„ What would you like to know?")
question = str(input())
while(flag):
  result= InstructionRouter(question)
  operation = result.value['tool'](question)
  question = OriginalQuestion(question)
  if question=="exit":
    flag = False
print("===========================================")
print("âœ…Hope I was of some help!")

===========================================
ðŸª„ What would you like to know?
3 new employees are being hired tomorrow. Their names are Draco Malfoy, Neville Longbottom and Luna Lovegood. They will be joining the Defense department in the Ministry of Magic and their salary will be 1400. I need to insert their data.
===========================================
ðŸª„ Would you like to insert into a specific table? (y/n): n
===========================================
ðŸª„ Generating...
                                                                                                                                                                                                                                                                                                                                                                        To insert the data for the new employees, you need to use the "employees" table. The relevant columns for insertion are "emplid", "company", "department_id", and "comprate". Here is the SQL statement to insert the data:  ```sql INSERT INTO employees (emplid, company, department_id, comprate) VALUES ('Draco Malfoy', 'Ministry of Magic', 'Defense', 1400),        ('Neville Longbottom', 'Ministry of Magic', 'Defense', 1400),        ('Luna Lovegood', 'Ministry of Magic', 'Defense', 1400); ```  Please note that the "emplid" column is assumed to be the employee's name based on the given context.
Based on the given context, you need to insert the data for the new employees into the `personal_data` table. The relevant columns for insertion are `emplid`, `first_name`, `last_name`, and `placeofbirth`. The `emplid` column is a character type with a maximum length of 10, and the `first_name` and `last_name` columns are character varying types with a maximum length of 50. The `placeofbirth` column is also a character varying type with a maximum length of 100.  Here is the SQL statement to insert the data for the new employees:  ```sql INSERT INTO personal_data (emplid, first_name, last_name, placeofbirth) VALUES ('EMP001', 'Draco', 'Malfoy', 'London'),        ('EMP002', 'Neville', 'Longbottom', 'Yorkshire'),        ('EMP003', 'Luna', 'Lovegood', 'Ottery St. Catchpole'); ```  Please note that I have assigned 'EMP001', 'EMP002', and 'EMP003' as the `emplid` values for the new employees. You can modify these values as per your requirements.
===========================================
ðŸª„ Would you like to ask another question?
y/n: y
ðŸª„ What would you like to know?
Question: which employees work in the HR department?
===========================================
ðŸª„ Would you like the results from a specific table? (y/n): y
Table name: employees
===========================================
ðŸª„ Finding the answer...
To find the employees who work in the HR department, you can use the following SQL statement:  ```sql SELECT emplid, company, country, hire_date, comprate, department_id FROM employees WHERE department_id = 'HR'; ```  This statement selects the columns emplid, company, country, hire_date, comprate, and department_id from the employees table. It then filters the results to only include rows where the department_id is 'HR'.
===========================================
ðŸª„ Would you like me to execute the query?
y/n: y

       emplid       company country   hire_date  comprate department_id
0  001         Hogwarts INC     USA  2022-01-01    1000.0    HR

===========================================
ðŸª„ Would you like to ask another question?
y/n: n
===========================================
âœ…Hope I was of some help!

In [ ]:
from IPython.display import HTML, display

def set_css():
  display(HTML('''
  <style>
    pre {
        white-space: pre-wrap;
    }
  </style>
  '''))
get_ipython().events.register('pre_run_cell', set_css)